.num {
  width: 60px;
  height: 40px;
  font-size: 24px;
  text-align: center;
  border: 2px solid #ccc;
  border-radius: 4px;
  color: gray;
}

.fixed-bar {
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  justify-content: center;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  height: 120px; /* Standardhöhe der fixed bar */
  display: flex;
}

.u-section-1 {
  min-height: 857px;
}

.u-section-1 .u-group-1 {
  height: auto;
  min-height: 95px;
  margin: 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-icon-1 {
  width: 100px;
  height: 100px;
  animation-timing-function: ease-in-out;
  margin: -22px auto 0;
  padding: 0;
}

.u-section-1 .u-icon-2 {
  width: 100px;
  height: 100px;
  animation-timing-function: ease-in-out;
  margin: -100px auto 0;
  padding: 0;
}

.u-section-1 .u-tabs-1 {
  min-height: 613px;
  width: 1140px;
  height: auto;
  margin: 0 auto;
}

.u-section-1 .u-tab-link-1 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 400;
}

.u-section-1 .u-tab-link-2 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 400;
}

.u-section-1 .u-tab-link-3 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 400;
}

.u-section-1 .u-tab-link-4 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 400;
}

.u-section-1 .u-tab-link-5 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 400;
}

.u-section-1 .u-tab-pane-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-products-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(4, 25%);
  min-height: 499px;
  grid-gap: 0px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 18px;
}

.u-section-1 .u-image-1 {
  height: 272px;
  margin: 0 2px;
}

.u-section-1 .u-text-1 {
  font-weight: 500;
  margin: 20px auto 0;
}

.u-section-1 .u-product-price-1 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 18px;
}

.u-section-1 .u-image-2 {
  height: 272px;
  margin: 0 2px;
}

.u-section-1 .u-text-2 {
  font-weight: 500;
  margin: 20px auto 0;
}

.u-section-1 .u-product-price-2 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 18px;
}

.u-section-1 .u-image-3 {
  height: 272px;
  margin: 0 2px;
}

.u-section-1 .u-text-3 {
  font-weight: 500;
  margin: 20px auto 0;
}

.u-section-1 .u-product-price-3 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 18px;
}

.u-section-1 .u-image-4 {
  height: 272px;
  margin: 0 2px;
}

.u-section-1 .u-text-4 {
  font-weight: 500;
  margin: 20px auto 0;
}

.u-section-1 .u-product-price-4 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0;
}

.u-section-1 .u-tab-pane-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-products-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-2 {
  grid-template-columns: repeat(4, 25%);
  min-height: 499px;
  grid-gap: 0px;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px 18px;
}

.u-section-1 .u-image-5 {
  height: 272px;
  margin: 0 2px;
}

.u-section-1 .u-text-5 {
  font-weight: 500;
  margin: 20px auto 0;
}

.u-section-1 .u-product-price-5 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px 18px;
}

.u-section-1 .u-image-6 {
  height: 272px;
  margin: 0 2px;
}

.u-section-1 .u-text-6 {
  font-weight: 500;
  margin: 20px auto 0;
}

.u-section-1 .u-product-price-6 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-6 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0;
}

.u-section-1 .u-container-layout-10 {
  padding: 30px 18px;
}

.u-section-1 .u-image-7 {
  height: 272px;
  margin: 0 2px;
}

.u-section-1 .u-text-7 {
  font-weight: 500;
  margin: 20px auto 0;
}

.u-section-1 .u-product-price-7 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-7 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0;
}

.u-section-1 .u-container-layout-11 {
  padding: 30px 18px;
}

.u-section-1 .u-image-8 {
  height: 272px;
  margin: 0 2px;
}

.u-section-1 .u-text-8 {
  font-weight: 500;
  margin: 20px auto 0;
}

.u-section-1 .u-product-price-8 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-8 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0;
}

.u-section-1 .u-tab-pane-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-12 {
  padding: 0;
}

.u-section-1 .u-products-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-3 {
  grid-template-columns: repeat(4, 25%);
  min-height: 499px;
  grid-gap: 0px;
}

.u-section-1 .u-container-layout-13 {
  padding: 30px 18px;
}

.u-section-1 .u-image-9 {
  height: 272px;
  margin: 0 2px;
}

.u-section-1 .u-text-9 {
  font-weight: 500;
  margin: 20px auto 0;
}

.u-section-1 .u-product-price-9 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-9 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0;
}

.u-section-1 .u-container-layout-14 {
  padding: 30px 18px;
}

.u-section-1 .u-image-10 {
  height: 272px;
  margin: 0 2px;
}

.u-section-1 .u-text-10 {
  font-weight: 500;
  margin: 20px auto 0;
}

.u-section-1 .u-product-price-10 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-10 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0;
}

.u-section-1 .u-container-layout-15 {
  padding: 30px 18px;
}

.u-section-1 .u-image-11 {
  height: 272px;
  margin: 0 2px;
}

.u-section-1 .u-text-11 {
  font-weight: 500;
  margin: 20px auto 0;
}

.u-section-1 .u-product-price-11 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-11 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0;
}

.u-section-1 .u-container-layout-16 {
  padding: 30px 18px;
}

.u-section-1 .u-image-12 {
  height: 272px;
  margin: 0 2px;
}

.u-section-1 .u-text-12 {
  font-weight: 500;
  margin: 20px auto 0;
}

.u-section-1 .u-product-price-12 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-12 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0;
}

.u-section-1 .u-tab-pane-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-17 {
  padding: 0;
}

.u-section-1 .u-products-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-4 {
  grid-template-columns: repeat(4, 25%);
  min-height: 499px;
  grid-gap: 0px;
}

.u-section-1 .u-container-layout-18 {
  padding: 30px 18px;
}

.u-section-1 .u-image-13 {
  height: 272px;
  margin: 0 2px;
}

.u-section-1 .u-text-13 {
  font-weight: 500;
  margin: 20px auto 0;
}

.u-section-1 .u-product-price-13 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-13 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0;
}

.u-section-1 .u-container-layout-19 {
  padding: 30px 18px;
}

.u-section-1 .u-image-14 {
  height: 272px;
  margin: 0 2px;
}

.u-section-1 .u-text-14 {
  font-weight: 500;
  margin: 20px auto 0;
}

.u-section-1 .u-product-price-14 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-14 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0;
}

.u-section-1 .u-container-layout-20 {
  padding: 30px 18px;
}

.u-section-1 .u-image-15 {
  height: 272px;
  margin: 0 2px;
}

.u-section-1 .u-text-15 {
  font-weight: 500;
  margin: 20px auto 0;
}

.u-section-1 .u-product-price-15 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-15 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0;
}

.u-section-1 .u-container-layout-21 {
  padding: 30px 18px;
}

.u-section-1 .u-image-16 {
  height: 272px;
  margin: 0 2px;
}

.u-section-1 .u-text-16 {
  font-weight: 500;
  margin: 20px auto 0;
}

.u-section-1 .u-product-price-16 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-16 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0;
}

.u-section-1 .u-tab-pane-5 {
  background-image: none;
}

.u-section-1 .u-container-layout-22 {
  padding: 0;
}

.u-section-1 .u-products-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-5 {
  grid-template-columns: repeat(4, 25%);
  min-height: 499px;
  grid-gap: 0px;
}

.u-section-1 .u-container-layout-23 {
  padding: 30px 18px;
}

.u-section-1 .u-image-17 {
  height: 272px;
  margin: 0 2px;
}

.u-section-1 .u-text-17 {
  font-weight: 500;
  margin: 20px auto 0;
}

.u-section-1 .u-product-price-17 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-17 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0;
}

.u-section-1 .u-container-layout-24 {
  padding: 30px 18px;
}

.u-section-1 .u-image-18 {
  height: 272px;
  margin: 0 2px;
}

.u-section-1 .u-text-18 {
  font-weight: 500;
  margin: 20px auto 0;
}

.u-section-1 .u-product-price-18 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-18 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0;
}

.u-section-1 .u-container-layout-25 {
  padding: 30px 18px;
}

.u-section-1 .u-image-19 {
  height: 272px;
  margin: 0 2px;
}

.u-section-1 .u-text-19 {
  font-weight: 500;
  margin: 20px auto 0;
}

.u-section-1 .u-product-price-19 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-19 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0;
}

.u-section-1 .u-container-layout-26 {
  padding: 30px 18px;
}

.u-section-1 .u-image-20 {
  height: 272px;
  margin: 0 2px;
}

.u-section-1 .u-text-20 {
  font-weight: 500;
  margin: 20px auto 0;
}

.u-section-1 .u-product-price-20 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-20 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-21 {
  border-style: solid;
  margin: 50px auto 49px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    min-height: 91px;
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-tabs-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 411px;
  }

  .u-section-1 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-1 {
    padding: 10px 6px 10px 5px;
  }

  .u-section-1 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-2 {
    padding: 10px 6px 10px 5px;
  }

  .u-section-1 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-3 {
    padding: 10px 6px 10px 5px;
  }

  .u-section-1 .u-image-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-4 {
    padding: 10px 6px 10px 5px;
  }

  .u-section-1 .u-repeater-2 {
    min-height: 411px;
  }

  .u-section-1 .u-image-5 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-5 {
    padding: 10px 6px 10px 5px;
  }

  .u-section-1 .u-image-6 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-6 {
    padding: 10px 6px 10px 5px;
  }

  .u-section-1 .u-image-7 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-7 {
    padding: 10px 6px 10px 5px;
  }

  .u-section-1 .u-image-8 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-8 {
    padding: 10px 6px 10px 5px;
  }

  .u-section-1 .u-repeater-3 {
    min-height: 411px;
  }

  .u-section-1 .u-image-9 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-9 {
    padding: 10px 6px 10px 5px;
  }

  .u-section-1 .u-image-10 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-10 {
    padding: 10px 6px 10px 5px;
  }

  .u-section-1 .u-image-11 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-11 {
    padding: 10px 6px 10px 5px;
  }

  .u-section-1 .u-image-12 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-12 {
    padding: 10px 6px 10px 5px;
  }

  .u-section-1 .u-repeater-4 {
    min-height: 411px;
  }

  .u-section-1 .u-image-13 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-13 {
    padding: 10px 6px 10px 5px;
  }

  .u-section-1 .u-image-14 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-14 {
    padding: 10px 6px 10px 5px;
  }

  .u-section-1 .u-image-15 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-15 {
    padding: 10px 6px 10px 5px;
  }

  .u-section-1 .u-image-16 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-16 {
    padding: 10px 6px 10px 5px;
  }

  .u-section-1 .u-repeater-5 {
    min-height: 411px;
  }

  .u-section-1 .u-image-17 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-17 {
    padding: 10px 6px 10px 5px;
  }

  .u-section-1 .u-image-18 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-18 {
    padding: 10px 6px 10px 5px;
  }

  .u-section-1 .u-image-19 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-19 {
    padding: 10px 6px 10px 5px;
  }

  .u-section-1 .u-image-20 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-20 {
    padding: 10px 6px 10px 5px;
  }

  .u-section-1 .u-btn-21 {
    margin-top: 46px;
    margin-bottom: 45px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    min-height: 98px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-tabs-1 {
    min-height: 1168px;
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 998px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 21px;
    padding-right: 17px;
    padding-left: 17px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 21px;
    padding-right: 17px;
    padding-left: 17px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 21px;
    padding-right: 17px;
    padding-left: 17px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 21px;
    padding-right: 17px;
    padding-left: 17px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: repeat(2, 50%);
    min-height: 998px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 21px;
    padding-right: 17px;
    padding-left: 17px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 21px;
    padding-right: 17px;
    padding-left: 17px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 21px;
    padding-right: 17px;
    padding-left: 17px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: 21px;
    padding-right: 17px;
    padding-left: 17px;
  }

  .u-section-1 .u-repeater-3 {
    grid-template-columns: repeat(2, 50%);
    min-height: 998px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-1 .u-btn-9 {
    margin-top: 21px;
    padding-right: 17px;
    padding-left: 17px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-1 .u-btn-10 {
    margin-top: 21px;
    padding-right: 17px;
    padding-left: 17px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-1 .u-btn-11 {
    margin-top: 21px;
    padding-right: 17px;
    padding-left: 17px;
  }

  .u-section-1 .u-container-layout-16 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-1 .u-btn-12 {
    margin-top: 21px;
    padding-right: 17px;
    padding-left: 17px;
  }

  .u-section-1 .u-repeater-4 {
    grid-template-columns: repeat(2, 50%);
    min-height: 998px;
  }

  .u-section-1 .u-container-layout-18 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-1 .u-btn-13 {
    margin-top: 21px;
    padding-right: 17px;
    padding-left: 17px;
  }

  .u-section-1 .u-container-layout-19 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-1 .u-btn-14 {
    margin-top: 21px;
    padding-right: 17px;
    padding-left: 17px;
  }

  .u-section-1 .u-container-layout-20 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-1 .u-btn-15 {
    margin-top: 21px;
    padding-right: 17px;
    padding-left: 17px;
  }

  .u-section-1 .u-container-layout-21 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-1 .u-btn-16 {
    margin-top: 21px;
    padding-right: 17px;
    padding-left: 17px;
  }

  .u-section-1 .u-repeater-5 {
    grid-template-columns: repeat(2, 50%);
    min-height: 998px;
  }

  .u-section-1 .u-container-layout-23 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-1 .u-btn-17 {
    margin-top: 21px;
    padding-right: 17px;
    padding-left: 17px;
  }

  .u-section-1 .u-container-layout-24 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-1 .u-btn-18 {
    margin-top: 21px;
    padding-right: 17px;
    padding-left: 17px;
  }

  .u-section-1 .u-container-layout-25 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-1 .u-btn-19 {
    margin-top: 21px;
    padding-right: 17px;
    padding-left: 17px;
  }

  .u-section-1 .u-container-layout-26 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-1 .u-btn-20 {
    margin-top: 21px;
    padding-right: 17px;
    padding-left: 17px;
  }

  .u-section-1 .u-btn-21 {
    margin-top: 49px;
    margin-bottom: 49px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-tabs-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-repeater-3 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-repeater-4 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-19 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-20 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-21 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-repeater-5 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-23 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-24 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-25 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-26 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-tabs-1 {
    width: 340px;
  }

  .u-section-1 .u-tab-link-1 {
    padding: 10px 25px;
  }

  .u-section-1 .u-tab-link-2 {
    padding: 10px 25px;
  }

  .u-section-1 .u-tab-link-3 {
    padding: 10px 25px;
  }

  .u-section-1 .u-tab-link-4 {
    padding: 10px 25px;
  }

  .u-section-1 .u-tab-link-5 {
    padding: 10px 25px;
  }

  .u-section-1 .u-tab-pane-1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-btn-1 {
    padding-left: 15px;
  }

  .u-section-1 .u-btn-2 {
    padding-left: 15px;
  }

  .u-section-1 .u-btn-3 {
    padding-left: 15px;
  }

  .u-section-1 .u-btn-4 {
    padding-left: 15px;
  }

  .u-section-1 .u-tab-pane-2 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-btn-5 {
    padding-left: 15px;
  }

  .u-section-1 .u-btn-6 {
    padding-left: 15px;
  }

  .u-section-1 .u-btn-7 {
    padding-left: 15px;
  }

  .u-section-1 .u-btn-8 {
    padding-left: 15px;
  }

  .u-section-1 .u-tab-pane-3 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-btn-9 {
    padding-left: 15px;
  }

  .u-section-1 .u-btn-10 {
    padding-left: 15px;
  }

  .u-section-1 .u-btn-11 {
    padding-left: 15px;
  }

  .u-section-1 .u-btn-12 {
    padding-left: 15px;
  }

  .u-section-1 .u-tab-pane-4 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-btn-13 {
    padding-left: 15px;
  }

  .u-section-1 .u-btn-14 {
    padding-left: 15px;
  }

  .u-section-1 .u-btn-15 {
    padding-left: 15px;
  }

  .u-section-1 .u-btn-16 {
    padding-left: 15px;
  }

  .u-section-1 .u-tab-pane-5 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-btn-17 {
    padding-left: 15px;
  }

  .u-section-1 .u-btn-18 {
    padding-left: 15px;
  }

  .u-section-1 .u-btn-19 {
    padding-left: 15px;
  }

  .u-section-1 .u-btn-20 {
    padding-left: 15px;
  }

  .u-section-1 .u-btn-21 {
    margin-top: 46px;
  }
}